In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
s.value_counts()

a    5
d    5
s    4
e    3
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv',sep=';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

In [17]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [15]:
df=pd.DataFrame(data=['Cara','Coroa'],index=['c','C'],columns=['Faces'])
df

   Faces
c   Cara
C  Coroa

In [19]:

eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)

In [20]:
moedas.head()

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [25]:
for item in moedas:
    print(moedas[item].value_counts())

C    25
c    25
Name: m1, dtype: int64
c    26
C    24
Name: m2, dtype: int64
C    31
c    19
Name: m3, dtype: int64
C    27
c    23
Name: m4, dtype: int64
C    25
c    25
Name: m5, dtype: int64